<section class="sectio highlighted-section">   
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a href="get-start/intro.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Module One</h4>
                    <p>Getting Started</p>
                </span>
            </a>
            
        </div>	
        <div class="col-sm-3">
            <a href="registration-portal/introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Module Two</h4>
                    <p>Registration Portal</p>
                </span>
            </a>
            
        </div>
        <div class="col-sm-3">
            <a href="admin-portal/introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Module Three</h4>
                    <p>Admin Portal</p>
                </span>
            </a>
        </div>

        
    </div>

</div>

    
</section>